@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@700&display=swap');

.titlefont{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 700;
    font-size:2em;
}

.paragraphfont{
    font-family: 'Encode Sans Condensed', sans-serif;
    background-color: white;
    
}
