@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@700&family=Press+Start+2P&family=Shizuru&display=swap');

.titlefont{
    font-family: 'Press Start 2P', cursive;
    font-size:2em;
    color:yellow;
    text-align: center;
}

.paragraphfont{
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    font-size: 1em
    
}
