* {
    margin: 0;
    padding: 0;
}

canvas {
    /* background-image: src; */
    background-color: rgb(21, 34, 56);  
    width: 100%;
    height: 100%;
}  

section.canvas {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0%;
}
.customSpaceship {
    width: 50%;
    margin: 0 auto;
}
.customSpaceship img {
    width: 30%;
}
.switchSpaceships {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.customiseButtons {
    position: relative;
    line-height: 2.5em;
    background: black;
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    box-shadow:darkblue;
    text-align: center;
    margin: 0 5em;
    border-radius: 7px;
    width:10%; 
    cursor: pointer;
}

body {
    height: 100vh;
    text-align: center;
    background-image: url('starrybackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    display: flex;
    flex-direction: row;

}
ul form {
    width:97%;
    
}
ul form input {
    margin-top: 5%;
    height:3em;
    width:90%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    text-shadow: -1px -1px black, 1px 1px white;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em darkblue;
    background-color: black;
    color: yellow;
}

