canvas {  
    border: 1px solid #0C0C0C;  
    background-color: #20356B;  
    width: 100%;
    height: 100%;
}  

section.canvas {
    width: 95%;
    height: 95%;
    align-items: center;
    padding: 2%;
}
body, html {
    height:100%;
}
body {
    text-align: center;
    background-image: url('starrybackground.jpg');
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    display: flex;
    flex-direction: row;
}
ul form {
    width:100%;
}