canvas {
    background-color: transparent;  
    width: 100%;
    height: 100%;
}  

section.canvas {
    width: 98%;
    height: 98%;
    align-items: center;
    padding: 2%;
}
.customCanvas {
    background-color: black;
    width:40%;
    height:50%;
    margin-left: 32%;
}
body, html {
    height:100%;
}
body {
    text-align: center;
    background-image: url('starrybackground.jpg');
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paragraphfont{ 
    transform:perspective(300px) rotateX(20deg);
    margin: 0 8% 0;
    
}
ul{
    display: flex;
    flex-direction: row;

}
ul form {
    width:97%;
    
}
ul form input {
    margin-top: 5%;
    height:3em;
    width:90%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    text-shadow: -1px -1px black, 1px 1px white;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em darkblue;
    background-color: black;
    color: yellow;
}